In [1]:
import $ivy.`org.apache.spark:spark-sql_2.13:3.3.2`
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

val spark = SparkSession.builder()
  .appName("SparkTest")
  .master("local[*]")
  .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
  
// http://localhost:4040/jobs/
println("Spark is ready!")

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties

Spark is ready!

import $ivy.$

import org.apache.spark.sql._

import org.apache.spark.sql.functions._


spark: SparkSession = org.apache.spark.sql.SparkSession@72111b65

In [2]:
import spark.implicits._

case class Sale(sale_id: Int, product_id: Int, year: Int, quantity: Int, price: Int)
case class Product(product_id: Int, product_name: String)

val salesData: Seq[(Int, Int, Int, Int, Int)] = Seq(
  (1, 100, 2008, 10, 5000),
  (2, 100, 2009, 12, 5000),
  (7, 200, 2011, 15, 9000)
)

val productData: Seq[(Int, String)] = Seq(
  (100, "Nokia"),
  (200, "Apple"),
  (300, "Samsung")
)

val salesDS = salesData.toDF("sale_id", "product_id", "year", "quantity", "price").as[Sale]
val productDS = productData.toDF("product_id", "product_name").as[Product]

import spark.implicits._


defined class Sale
defined class Product
salesData: Seq[(Int, Int, Int, Int, Int)] = List(
  (1, 100, 2008, 10, 5000),
  (2, 100, 2009, 12, 5000),
  (7, 200, 2011, 15, 9000)
)
productData: Seq[(Int, String)] = List(
  (100, "Nokia"),
  (200, "Apple"),
  (300, "Samsung")
)
salesDS: Dataset[Sale] = [sale_id: int, product_id: int ... 3 more fields]
productDS: Dataset[Product] = [product_id: int, product_name: string]

Write a solution to select the product id, year, quantity, and price for the first year of every product sold.

Return the resulting table in any order.

The result format is in the following example.

| product_id | first_year | quantity | price |
|------------|------------|----------|-------| 
| 100        | 2008       | 10       | 5000  |
| 200        | 2011       | 15       | 9000  |

In [3]:
salesDS.show()
productDS.show()

// val firstDF = 
salesDS.groupBy(col("product_id"))
    .agg(min(col("year")).as("year"))
    .as("a")
    .join(salesDS.as("b"), Seq("product_id", "year"), "inner")
    .select(col("product_id"), col("year").as("first_year"), col("quantity"), col("price"))
    .show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

+----------+----------+--------+-----+
|product_id|first_year|quantity|price|
+----------+----------+--------+-----+
|       100|      2008|      10| 5000|
|       200|      2011|      15| 9000|
+----------+----------+--------+-----+

In [4]:
spark.stop()