In [1]:
import $ivy.`org.apache.spark:spark-sql_2.13:3.3.2`
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

val spark = SparkSession.builder()
  .appName("SparkTest")
  .master("local[*]")
  .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
  
// http://localhost:4040/jobs/
println("Spark is ready!")

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties

Spark is ready!

import $ivy.$

import org.apache.spark.sql._

import org.apache.spark.sql.functions._


spark: SparkSession = org.apache.spark.sql.SparkSession@c24e170

In [2]:
import spark.implicits._

case class Teacher(teacher_id: Int, subject_id: Int, dept_id: Int)

val teacherData: Seq[(Int, Int, Int)] = Seq(
  (1, 2, 3),
  (1, 2, 4),
  (1, 3, 3),
  (2, 1, 1),
  (2, 2, 1),
  (2, 3, 1),
  (2, 4, 1)
)

val teacherDS = teacherData.toDF("teacher_id", "subject_id", "dept_id").as[Teacher]

import spark.implicits._


defined class Teacher
teacherData: Seq[(Int, Int, Int)] = List(
  (1, 2, 3),
  (1, 2, 4),
  (1, 3, 3),
  (2, 1, 1),
  (2, 2, 1),
  (2, 3, 1),
  (2, 4, 1)
)
teacherDS: Dataset[Teacher] = [teacher_id: int, subject_id: int ... 1 more field]

Write a solution to calculate the number of unique subjects each teacher teaches in the university.

Return the result table in any order.

The result format is shown in the following example.

| teacher_id | cnt |
|------------|-----|
| 1          | 2   |
| 2          | 4   |

In [3]:
teacherDS.groupBy("teacher_id")
    .agg(count_distinct(col("subject_id")).as("cnt"))
    .show()

+----------+---+
|teacher_id|cnt|
+----------+---+
|         1|  2|
|         2|  4|
+----------+---+

In [4]:
spark.stop()