In [2]:
import pandas as pd

In [3]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 2, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-12'], [4, 3, '2019-08-24', '2019-08-24'], [5, 3, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13'], [7, 4, '2019-08-09', '2019-08-09']]
delivery = pd.DataFrame(data, columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype({'delivery_id':'Int64', 'customer_id':'Int64', 'order_date':'datetime64[ns]', 'customer_pref_delivery_date':'datetime64[ns]'})

In [15]:
delivery

   delivery_id  customer_id order_date customer_pref_delivery_date
0            1            1 2019-08-01                  2019-08-02
1            2            2 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-12
3            4            3 2019-08-24                  2019-08-24
4            5            3 2019-08-21                  2019-08-22
5            6            2 2019-08-11                  2019-08-13
6            7            4 2019-08-09                  2019-08-09

If the customer's preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled.

The first order of a customer is the order with the earliest order date that the customer made. It is guaranteed that a customer has precisely one first order.

Write a solution to find the percentage of immediate orders in the first orders of all customers, rounded to 2 decimal places.

The result format is in the following example.

| immediate_percentage |
|----------------------|
| 50.00                |

In [33]:
# first_delivery
first_delivery=delivery.groupby(by="customer_id")["order_date"].min().reset_index()
first_delivery

   customer_id order_date
0            1 2019-08-01
1            2 2019-08-02
2            3 2019-08-21
3            4 2019-08-09

In [34]:
first_delivery_agg = first_delivery.merge(right=delivery,on=["customer_id","order_date"],how="left")
first_delivery_agg

   customer_id order_date  delivery_id customer_pref_delivery_date
0            1 2019-08-01            1                  2019-08-02
1            2 2019-08-02            2                  2019-08-02
2            3 2019-08-21            5                  2019-08-22
3            4 2019-08-09            7                  2019-08-09

In [40]:
pd.DataFrame([((first_delivery_agg["order_date"]==first_delivery_agg["customer_pref_delivery_date"])*1).mean().round(2)],columns=["immediate_percentage"])

   immediate_percentage
0                   0.5

Answer from top answer.

In [42]:
df=delivery.groupby("customer_id").min()
df

             delivery_id order_date customer_pref_delivery_date
customer_id
1                      1 2019-08-01                  2019-08-02
2                      2 2019-08-02                  2019-08-02
3                      4 2019-08-21                  2019-08-22
4                      7 2019-08-09                  2019-08-09

In [45]:
df1=df[df["order_date"]==df["customer_pref_delivery_date"]]
df1

             delivery_id order_date customer_pref_delivery_date
customer_id
2                      2 2019-08-02                  2019-08-02
4                      7 2019-08-09                  2019-08-09

In [44]:
pd.DataFrame({"immediate_percentage":[len(df1)/len(df)*100]}).round(2)

   immediate_percentage
0                  50.0