In [1]:
import pandas as pd

In [2]:
data = [[6, 'Alice'], [2, 'Bob'], [7, 'Alex']]
users = pd.DataFrame(data, columns=['user_id', 'user_name']).astype({'user_id':'Int64', 'user_name':'object'})
data = [[215, 6], [209, 2], [208, 2], [210, 6], [208, 6], [209, 7], [209, 6], [215, 7], [208, 7], [210, 2], [207, 2], [210, 7]]
register = pd.DataFrame(data, columns=['contest_id', 'user_id']).astype({'contest_id':'Int64', 'user_id':'Int64'})

In [3]:
users

   user_id user_name
0        6     Alice
1        2       Bob
2        7      Alex

In [5]:
register.sort_values(by=["contest_id","user_id"], ascending=[True,True])

    contest_id  user_id
10         207        2
2          208        2
4          208        6
8          208        7
1          209        2
6          209        6
5          209        7
9          210        2
3          210        6
11         210        7
0          215        6
7          215        7

Write a solution to find the percentage of the users registered in each contest rounded to two decimals.

Return the result table ordered by percentage in descending order. In case of a tie, order it by contest_id in ascending order.

The result format is in the following example.


| contest_id | percentage |
|------------|------------|
| 208        | 100.0      |
| 209        | 100.0      |
| 210        | 100.0      |
| 215        | 66.67      |
| 207        | 33.33      |

In [ ]:
# Get the count of users table.
count=users.shape[0]
count

3

In [60]:
# Now aggregate register table on contest_id.
register.groupby(by="contest_id")["user_id"] \
    .apply(func=(lambda g: round(100*g.count()/count,2))) \
    .reset_index(name="percentage") \
    .sort_values(by=["percentage","contest_id"],ascending=[False,True])

   contest_id  percentage
1         208      100.00
2         209      100.00
3         210      100.00
4         215       66.67
0         207       33.33