In [2]:
import pandas as pd

In [3]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2], [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype({'id':'Int64', 'movie':'object', 'description':'object', 'rating':'Float64'})

In [4]:
cinema

   id       movie  description  rating
0   1         War     great 3D     8.9
1   2     Science      fiction     8.5
2   3       irish       boring     6.2
3   4    Ice song      Fantacy     8.6
4   5  House card  Interesting     9.1

Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.

The result format is in the following example.

In [ ]:
cinema.loc[(cinema["id"] % 2 == 1)&(cinema["description"] != "boring")] \
    .sort_values(by=["rating"], ascending=[False])

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9