In [1]:
import pandas as pd

In [2]:
data = [[5, 'Alice', 250, 1], [4, 'Bob', 175, 5], [3, 'Alex', 350, 2], [6, 'John Cena', 400, 3], [1, 'Winston', 500, 6], [2, 'Marie', 200, 4]]
queue = pd.DataFrame(data, columns=['person_id', 'person_name', 'weight', 'turn']).astype({'person_id':'Int64', 'person_name':'object', 'weight':'Int64', 'turn':'Int64'})

In [3]:
queue

   person_id person_name  weight  turn
0          5       Alice     250     1
1          4         Bob     175     5
2          3        Alex     350     2
3          6   John Cena     400     3
4          1     Winston     500     6
5          2       Marie     200     4

There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.

Write a solution to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.

Note that only one person can board the bus at any given turn.

The result format is in the following example.


| person_name |
|-------------|
| John Cena   |

In [18]:
queue_sorted = queue.sort_values(by="turn").reset_index(drop=True)
queue_sorted["weight_sum"] = queue_sorted["weight"].cumsum()
queue_sorted

   person_id person_name  weight  turn  weight_sum
0          5       Alice     250     1         250
1          3        Alex     350     2         600
2          6   John Cena     400     3        1000
3          2       Marie     200     4        1200
4          4         Bob     175     5        1375
5          1     Winston     500     6        1875

In [22]:
queue_filtered = queue_sorted.loc[queue_sorted["weight_sum"]<=1000]
queue_filtered

   person_id person_name  weight  turn  weight_sum
0          5       Alice     250     1         250
1          3        Alex     350     2         600
2          6   John Cena     400     3        1000

In [24]:
queue_filtered.loc[queue_filtered["weight_sum"]==queue_filtered["weight_sum"].max()][["person_name"]]

  person_name
2   John Cena