In [1]:
import pandas as pd

In [2]:
data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})

In [3]:
triangle

    x   y   z
0  13  15  30
1  10  20  15

Report for every three line segments whether they can form a triangle.

Return the result table in any order.

The result format is in the following example.

| x  | y  | z  | triangle |
|----|----|----|----------|
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |

In [13]:
triangle["triangle"] = (
        ((triangle["x"]+triangle["y"])>triangle["z"]) & 
        ((triangle["z"]+triangle["y"])>triangle["x"]) & 
        ((triangle["x"]+triangle["z"])>triangle["y"])
    ).apply(lambda x: "Yes" if x else "No")

In [14]:
triangle

    x   y   z triangle
0  13  15  30       No
1  10  20  15      Yes