In [1]:
import pandas as pd

In [2]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [3]:
employee

   id  salary
0   1     100
1   2     200
2   3     300

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

| SecondHighestSalary |
|---------------------|
| 200                 |

In [13]:
salaries = employee.sort_values(by="salary", ascending=False).drop_duplicates(subset="salary")["salary"]
second=None
if(len(salaries) > 1):
    second = salaries.iloc[1]
pd.DataFrame(data=[second], columns=["SecondHighestSalary"])

   SecondHighestSalary
0                  200