In [1]:
import pandas as pd

data = [[1, 'Let us Code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})
tweets

   tweet_id                            content
0         1                        Let us Code
1         2  More than fifteen chars are here!

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

| tweet_id |
|----------|
| 2        |

In [2]:
tweets[(tweets["content"].str.len()>15)][["tweet_id"]]

   tweet_id
1         2