In [4]:
import pandas as pd

In [5]:
data = [[3, '2020-03-21 10:16:13'], [7, '2020-01-04 13:57:59'], [2, '2020-07-29 23:09:44'], [6, '2020-12-09 10:39:37']]
signups = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]'})
data = [[3, '2021-01-06 03:30:46', 'timeout'], [3, '2021-07-14 14:00:00', 'timeout'], [7, '2021-06-12 11:57:29', 'confirmed'], [7, '2021-06-13 12:58:28', 'confirmed'], [7, '2021-06-14 13:59:27', 'confirmed'], [2, '2021-01-22 00:00:00', 'confirmed'], [2, '2021-02-28 23:59:59', 'timeout']]
confirmations = pd.DataFrame(data, columns=['user_id', 'time_stamp', 'action']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]', 'action':'object'})

In [6]:
signups

   user_id          time_stamp
0        3 2020-03-21 10:16:13
1        7 2020-01-04 13:57:59
2        2 2020-07-29 23:09:44
3        6 2020-12-09 10:39:37

In [7]:
confirmations

   user_id          time_stamp     action
0        3 2021-01-06 03:30:46    timeout
1        3 2021-07-14 14:00:00    timeout
2        7 2021-06-12 11:57:29  confirmed
3        7 2021-06-13 12:58:28  confirmed
4        7 2021-06-14 13:59:27  confirmed
5        2 2021-01-22 00:00:00  confirmed
6        2 2021-02-28 23:59:59    timeout

The confirmation rate of a user is the number of 'confirmed' messages divided by the total number of requested confirmation messages. The confirmation rate of a user that did not request any confirmation messages is 0. Round the confirmation rate to two decimal places.

Write a solution to find the confirmation rate of each user.

Return the result table in any order.

The result format is in the following example.

In [50]:
all=confirmations["user_id"].groupby(by=confirmations["user_id"]).count().reset_index(name="total")
confirmed=confirmations.loc[(confirmations["action"]=="confirmed")]["user_id"].groupby(by=confirmations["user_id"]).count().reset_index(name="confirmed")

In [32]:
all

   user_id  total
0        2      2
1        3      2
2        7      3

In [33]:
confirmed

   user_id  confirmed
0        2          1
1        7          3

In [51]:
all=all.merge(right=confirmed,how="left",on="user_id").fillna(0)
all

   user_id  total  confirmed
0        2      2        1.0
1        3      2        0.0
2        7      3        3.0

In [53]:
all["confirmation_rate"]=all["confirmed"]/all["total"]
all

   user_id  total  confirmed  confirmation_rate
0        2      2        1.0                0.5
1        3      2        0.0                0.0
2        7      3        3.0                1.0

In [65]:
signups.merge(right=all,on="user_id",how="left").drop(labels=["time_stamp","confirmed","total"],axis=1).fillna(0).round({"confirmation_rate":2})

   user_id  confirmation_rate
0        3                0.0
1        7                1.0
2        2                0.5
3        6                0.0

In [66]:
confirmations['confirmation_rate'] = (confirmations['action'] == 'confirmed').astype(int)
confirmations

   user_id          time_stamp     action  confirmation_rate
0        3 2021-01-06 03:30:46    timeout                  0
1        3 2021-07-14 14:00:00    timeout                  0
2        7 2021-06-12 11:57:29  confirmed                  1
3        7 2021-06-13 12:58:28  confirmed                  1
4        7 2021-06-14 13:59:27  confirmed                  1
5        2 2021-01-22 00:00:00  confirmed                  1
6        2 2021-02-28 23:59:59    timeout                  0

In [67]:
res = confirmations.groupby('user_id',as_index=False)['confirmation_rate'].mean().round(2)

In [68]:
res

   user_id  confirmation_rate
0        2                0.5
1        3                0.0
2        7                1.0