In [1]:
import pandas as pd

In [2]:
data = [[1, 'Leetcode Solutions', 'Book'], [2, 'Jewels of Stringology', 'Book'], [3, 'HP', 'Laptop'], [4, 'Lenovo', 'Laptop'], [5, 'Leetcode Kit', 'T-shirt']]
products = pd.DataFrame(data, columns=['product_id', 'product_name', 'product_category']).astype({'product_id':'Int64', 'product_name':'object', 'product_category':'object'})
data = [[1, '2020-02-05', 60], [1, '2020-02-10', 70], [2, '2020-01-18', 30], [2, '2020-02-11', 80], [3, '2020-02-17', 2], [3, '2020-02-24', 3], [4, '2020-03-01', 20], [4, '2020-03-04', 30], [4, '2020-03-04', 60], [5, '2020-02-25', 50], [5, '2020-02-27', 50], [5, '2020-03-01', 50]]
orders = pd.DataFrame(data, columns=['product_id', 'order_date', 'unit']).astype({'product_id':'Int64', 'order_date':'datetime64[ns]', 'unit':'Int64'})

In [3]:
products

   product_id           product_name product_category
0           1     Leetcode Solutions             Book
1           2  Jewels of Stringology             Book
2           3                     HP           Laptop
3           4                 Lenovo           Laptop
4           5           Leetcode Kit          T-shirt

In [4]:
orders

    product_id order_date  unit
0            1 2020-02-05    60
1            1 2020-02-10    70
2            2 2020-01-18    30
3            2 2020-02-11    80
4            3 2020-02-17     2
5            3 2020-02-24     3
6            4 2020-03-01    20
7            4 2020-03-04    30
8            4 2020-03-04    60
9            5 2020-02-25    50
10           5 2020-02-27    50
11           5 2020-03-01    50

Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

Return the result table in any order.

The result format is in the following example.

| product_name       | unit    |
|--------------------|---------|
| Leetcode Solutions | 130     |
| Leetcode Kit       | 100     |

In [11]:
filtered = orders.loc[(orders.order_date >= pd.to_datetime("2020-02-01")) & (orders.order_date < pd.to_datetime("2020-03-01"))][["product_id", "unit"]] \
    .groupby(by="product_id")["unit"].sum().reset_index()

filtered.loc[filtered.unit>=100].merge(right=products, on="product_id", how="left").drop(labels=["product_id", "product_category"], axis=1)[["product_name", "unit"]]

         product_name  unit
0  Leetcode Solutions   130
1        Leetcode Kit   100

# Solution 2

In [13]:
feb2022 = pd.to_datetime("2020-02").to_period('M')
filtered = orders.loc[(orders.order_date.dt.to_period('M') == feb2022)][["product_id", "unit"]] \
    .groupby(by="product_id")["unit"].sum().reset_index()
filtered.loc[filtered.unit>=100].merge(right=products, on="product_id", how="left").drop(labels=["product_id", "product_category"], axis=1)[["product_name", "unit"]]

         product_name  unit
0  Leetcode Solutions   130
1        Leetcode Kit   100