In [1]:
import pandas as pd

In [2]:
data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})

In [3]:
activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The result format is in the following example.

| sell_date  | num_sold | products                     |
|------------|----------|------------------------------|
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |

In [31]:
sorted = activities.sort_values(by=["sell_date", "product"], ascending=[True, True]).drop_duplicates()
sorted["num_sold"] = 1
sorted.groupby("sell_date")["product"].agg(num_sold="count", products=",".join).reset_index()

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask