In [1]:
import pandas as pd

In [2]:
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [3]:
users

   user_id   name
0        1  aLice
1        2    bOB

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

| user_id | name  |
|---------|-------|
| 1       | Alice |
| 2       | Bob   |

In [12]:
users.name = users.name.apply(lambda x: x[0].upper() + x[1:].lower())
users.sort_values(by="user_id", ascending=True)

   user_id   name
0        1  Alice
1        2    Bob

# Python/pandas way.

In [13]:
users.name.str.capitalize()

0    Alice
1      Bob
Name: name, dtype: object