In [1]:
import $ivy.`org.apache.spark:spark-sql_2.13:3.3.2`
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

val spark = SparkSession.builder()
  .appName("SparkTest")
  .master("local[*]")  // Runs on local machine with 1 local worker / thread, so we can see the impact on COPY_ON_WRITE
  .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
  
// http://localhost:4040/jobs/
println("Spark is ready!")

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties

Spark is ready!

import $ivy.$

import org.apache.spark.sql._

import org.apache.spark.sql.functions._


spark: SparkSession = org.apache.spark.sql.SparkSession@24089361

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.
| tweet_id |
|----------|
| 2        |

In [2]:
import spark.implicits._
val data = Seq((1, "Let us Code"), (2, "More than fifteen chars are here!"))
case class Tweets(tweet_id: Int, content: String)
val tweets = data.toDF("tweet_id", "content")
    .as[Tweets]
tweets.show

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|         Let us Code|
|       2|More than fifteen...|
+--------+--------------------+

import spark.implicits._

data: Seq[(Int, String)] = List(
  (1, "Let us Code"),
  (2, "More than fifteen chars are here!")
)
defined class Tweets
tweets: Dataset[Tweets] = [tweet_id: int, content: string]

In [5]:
tweets.filter((length(col("content")) > 15))
    .select(col("tweet_id"))
    .show

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [6]:
spark.stop()