In [1]:
import pandas as pd

In [15]:
data = [[1, 2, '2016/06/03'], [1, 3, '2016/06/08'], [2, 3, '2016/06/08'], [3, 4, '2016/06/09']]
request_accepted = pd.DataFrame(data, columns=['requester_id', 'accepter_id', 'accept_date']).astype({'requester_id':'Int64', 'accepter_id':'Int64', 'accept_date':'datetime64[ns]'})

In [3]:
request_accepted

   requester_id  accepter_id accept_date
0             1            2  2016-06-03
1             1            3  2016-06-08
2             2            3  2016-06-08
3             3            4  2016-06-09

Write a solution to find the people who have the most friends and the most friends number.

The test cases are generated so that only one person has the most friends.

The result format is in the following example.

| id | num |
|----|-----|
| 3  | 3   |

In [39]:
pd.concat([request_accepted.requester_id, request_accepted.accepter_id.copy()])

0    1
1    1
2    2
3    3
0    2
1    3
2    3
3    4
dtype: Int64

In [ ]:
friends=pd.DataFrame(
    data=pd.concat([request_accepted.requester_id, request_accepted.accepter_id.copy()]), 
    columns=["id"]
).groupby(by="id").size().reset_index(name="num")
friends.loc[friends.num == friends.num.max()]

   id  num
2   3    3