In [1]:
import pandas as pd

In [37]:
data = [[1, 'Abbot'], [2, 'Doris'], [3, 'Emerson'], [4, 'Green'], [5, 'Jeames']]
seat = pd.DataFrame(data, columns=['id', 'student']).astype({'id':'Int64', 'student':'object'})

In [14]:
seat

   id  student
0   1    Abbot
1   2    Doris
2   3  Emerson
3   4    Green
4   5   Jeames

Write a solution to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.

Return the result table ordered by id in ascending order.

The result format is in the following example.

| id | student |
|----|---------|
| 1  | Doris   |
| 2  | Abbot   |
| 3  | Green   |
| 4  | Emerson |
| 5  | Jeames  |

In [38]:
student=seat.student.copy()
student

0      Abbot
1      Doris
2    Emerson
3      Green
4     Jeames
Name: student, dtype: object

In [46]:
last_index = len(seat)-1
last_index

4

In [48]:
seat.loc[(seat.index % 2 == 0) & (seat.index != last_index), ["student"]] = student.shift(-1)
seat.loc[(seat.index % 2 == 1), ["student"]] = student.shift(1)
seat

   id  student
0   1    Doris
1   2    Abbot
2   3    Green
3   4  Emerson
4   5   Jeames