In [1]:
import pandas as pd

In [2]:
data = [[1, 5], [2, 6], [3, 5], [3, 6], [1, 6]]
customer = pd.DataFrame(data, columns=['customer_id', 'product_key']).astype({'customer_id':'Int64', 'product_key':'Int64'})
data = [[5], [6]]
product = pd.DataFrame(data, columns=['product_key']).astype({'product_key':'Int64'})

In [3]:
customer

   customer_id  product_key
0            1            5
1            2            6
2            3            5
3            3            6
4            1            6

In [4]:
product

   product_key
0            5
1            6

Write a solution to report the customer ids from the Customer table that bought all the products in the Product table.

Return the result table in any order.

The result format is in the following example.

| customer_id |
|-------------|
| 1           |
| 3           |

In [16]:
customers_count = customer.loc[(customer["product_key"].isin(product["product_key"]))] \
    .drop_duplicates() \
    .groupby("customer_id")["product_key"] \
    .count() \
    .reset_index(name="cnt")
customers_count

   customer_id  cnt
0            1    2
1            2    1
2            3    2

In [19]:
customers_count.loc[(customers_count["cnt"] == product.shape[0])].drop(labels=["cnt"], axis=1)

   customer_id
0            1
2            3