In [1]:
import pandas as pd

In [2]:
data = [[1, 1, '2019-07-20', 'open_session'], [1, 1, '2019-07-20', 'scroll_down'], [1, 1, '2019-07-20', 'end_session'], [2, 4, '2019-07-20', 'open_session'], [2, 4, '2019-07-21', 'send_message'], [2, 4, '2019-07-21', 'end_session'], [3, 2, '2019-07-21', 'open_session'], [3, 2, '2019-07-21', 'send_message'], [3, 2, '2019-07-21', 'end_session'], [4, 3, '2019-06-25', 'open_session'], [4, 3, '2019-06-25', 'end_session']]
activity = pd.DataFrame(data, columns=['user_id', 'session_id', 'activity_date', 'activity_type']).astype({'user_id':'Int64', 'session_id':'Int64', 'activity_date':'datetime64[ns]', 'activity_type':'object'})

In [6]:
activity

    user_id  session_id activity_date activity_type
0         1           1    2019-07-20  open_session
1         1           1    2019-07-20   scroll_down
2         1           1    2019-07-20   end_session
3         2           4    2019-07-20  open_session
4         2           4    2019-07-21  send_message
5         2           4    2019-07-21   end_session
6         3           2    2019-07-21  open_session
7         3           2    2019-07-21  send_message
8         3           2    2019-07-21   end_session
9         4           3    2019-06-25  open_session
10        4           3    2019-06-25   end_session

Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

Return the result table in any order.

The result format is in the following example.

| day        | active_users |
|------------|--------------| 
| 2019-07-20 | 2            |
| 2019-07-21 | 2            |

In [20]:
activity.loc[(activity["activity_date"] <= pd.to_datetime("2019-07-27")) & 
    (activity["activity_date"] > (pd.to_datetime("2019-07-27") - pd.Timedelta(days=30)))] \
    .groupby("activity_date")["user_id"] \
    .nunique() \
    .reset_index(name="active_users") \
    .rename(columns={"activity_date":"day"})

         day  active_users
0 2019-07-20             2
1 2019-07-21             2