In [21]:
import pandas as pd

In [22]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]
my_numbers = pd.DataFrame(data, columns=['num']).astype({'num':'Int64'})

In [23]:
my_numbers

   num
0    8
1    8
2    3
3    3
4    1
5    4
6    5
7    6

A single number is a number that appeared only once in the MyNumbers table.

Find the largest single number. If there is no single number, report null.

The result format is in the following example.

| num |
|-----|
| 6   |

In [24]:
numbers_count=my_numbers.groupby("num")["num"] \
    .count() \
    .reset_index(name="cnt")
numbers_count

   num  cnt
0    1    1
1    3    2
2    4    1
3    5    1
4    6    1
5    8    2

In [25]:
answer = numbers_count.loc[(numbers_count["cnt"] == 1)][["num"]].max()
answer

num    6
dtype: Int64

In [26]:
pd.DataFrame(data=[answer],columns=["num"])

   num
0    6

# One line solution

In [27]:
my_numbers.drop_duplicates(keep = False).max().to_frame(name = 'num')

     num
num    6