In [1]:
import $ivy.`org.apache.spark:spark-sql_2.13:3.3.2`
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

val spark = SparkSession.builder()
  .appName("SparkTest")
  .master("local[*]")
  .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
  
// http://localhost:4040/jobs/
println("Spark is ready!")

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties

Spark is ready!

import $ivy.$

import org.apache.spark.sql._

import org.apache.spark.sql.functions._


spark: SparkSession = org.apache.spark.sql.SparkSession@3c63bd1

In [2]:
import spark.implicits._
// Data
case class Project(project_id: Int, employee_id: Int)
case class Employee(employee_id: Int, name: String, experience_years: Int)
val data = Seq[(Int, Int)](
  (1, 1), (1, 2), (1, 3), (2, 1), (2, 4)
)
val data2 = Seq[(Int, String, Int)](
  (1, "Khaled", 3), 
  (2, "Ali", 2), 
  (3, "John", 1), 
  (4, "Doe", 2)
)


val projectDS: Dataset[Project] = data.toDF("project_id", "employee_id")
  .as[Project]
val employeeDS: Dataset[Employee] = data2.toDF("employee_id", "name", "experience_years")
  .as[Employee]

projectDS.show()
employeeDS.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               1|
|          4|   Doe|               2|
+-----------+------+----------------+

import spark.implicits._
// Data

defined class Project
defined class Employee
data: Seq[(Int, Int)] = List((1, 1), (1, 2), (1, 3), (2, 1), (2, 4))
data2: Seq[(Int, String, Int)] = List(
  (1, "Khaled", 3),
  (2, "Ali", 2),
  (3, "John", 1),
  (4, "Doe", 2)
)
projectDS: Dataset[Project] = [project_id: int, employee_id: int]
employeeDS: Dataset[Employee] = [employee_id: int, name: string ... 1 more field]

Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.

Return the result table in any order.

The query result format is in the following example.

| project_id  | average_years |
|-------------|---------------|
| 1           | 2.00          |
| 2           | 2.50          |

In [5]:
projectDS.join(employeeDS, Seq("employee_id"), "inner")
    .groupBy("project_id")
    .agg(round(avg("experience_years"), 2).as("average_years"))
    .show()

+----------+-------------+
|project_id|average_years|
+----------+-------------+
|         1|          2.0|
|         2|          2.5|
+----------+-------------+

In [6]:
spark.stop